body {
    font-family: 'Josefin Sans', sans-serif !important;
    /* background-color: #f9f9f9 !important; */
    width: 100%;
    height: 100%;
}

#linked-logo {
    height: 30px !important;
}

#home-page {
    height: 100vh;
    background-image: linear-gradient( 0deg, #ebdb9e 10%, #3b1f71 100%);
}

#home-content {
    height: 25.5%;
}

img {
    align-self: flex-end;
    height: 100%;
    width: 100%;
}

/* stu-home was here */
#comp-reg, #stu-reg, #job-post {
    padding: 3rem 3rem 3rem 3rem;
    margin: 3rem auto 3rem auto;
    width: 30rem; 
    border-radius: 10px;   
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* .form-control, .form-select {
    border-radius: 15px !important;
    background-color: rgb(244, 247, 249) !important;
    border: 1px solid gray !important;
} */

.page-header {
    padding-bottom: 3rem;
    width: 60%;
    justify-content: center;
}

/* .btn-outline-light {
    border: 1px solid gray !important;
    color: gray !important;
    border-radius: 15px !important;
} */


#form-ctrl-royal{
    border-radius: 15px;
    background-color: white;
    border: 1px solid #3e1fad;
    border-bottom: 2px solid #3e1fad;
    background-color: #fafafa !important;
}

#royal-btn {
    border: 1px solid #3e1fad;
    background-color: #3e1fad;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}

#royal-btn:hover {
    background-color: #361b98;
}

#form-ctrl-gold{
    border-radius: 15px;
    background-color: white;
    border: 1px solid #ffdf80;
    border-bottom: 2px solid #ffdf80;
    background-color: #fafafa !important;
}

#gold-btn {
    border: 1px solid #ffdf80;
    background-color: #ffdf80;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}

#gold-btn:hover {
    background-color: #ffd24d;
}

/* For items in job posts card */
#post-item {
    border-bottom: 1px solid rgb(212, 210, 210);
}

/* For items in job posts row */
#job-post-cont {
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
}

#dash {
    background: rgb(255,223,128);
    background: linear-gradient(90deg, rgba(255,223,128,1) 0%, rgba(62,31,173,1) 100%);
}

#dash-nav-item {
    justify-content: center;
}

#main-nav {
    padding: 1rem 2rem 1rem 2rem !important;
}

#dash-nav {
    background-color: #3e1fad;
    color: white;
    position: sticky;
    justify-content: center !important;
    padding: 0;
}

/* .btn-link, a {
    text-decoration: none !important;
    color: black !important;
    font-weight: 700 !important;

} */

/* .main {
    height: 100% !important;
    width: 80% !important;
}

#stu-dash {
    height: 100%;
} */

.layout {
    width: 100%;
    height: 100%;
  
    display: grid;
    grid:
      "header" auto
      "body" 1fr
      / 1fr;
  }
  
.header { 
    grid-area: header;
    /* padding: 0.5rem 2rem 0.5rem 2rem; */
    /* margin-left: 1rem;
    margin-right: 1rem; */
    /* height: 6rem;
    background-color: white; */
    box-shadow: rgb(0 0 0 / 4%) 0px -1px 2px, rgb(0 0 0 / 4%) 0px 1px 2px, rgb(0 0 0 / 4%) 0px 3px 4px;
    /* border-bottom: 1px solid black; */
    
}

#stu-home { 
    grid-area: body; 
    /* background-color: aquamarine; */
    padding: 2rem 2rem 1rem 1rem;
    /* margin-left: 9rem; */
    margin-left: 2rem;
}

#search-btn {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    background-color: #ffdf80;
    color: white;
    font-size: 1.5rem;
    border-radius: 15px;
}

#search-btn:hover {
    background-color: #ffd24d;
}

#search-btn, #Search, .form-select {
    border: none !important;
    font-size: 1.5rem !important;
}

#Search {
    border-left: 1px solid #d5d5d5 !important;
}

.form-select {
    max-width: 280px !important;
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}

#search-bar {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 15px;
    width: 70%;
    padding: 0;
    margin: 0 auto 0 auto;
}

#stu-search {
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.card-body {
    padding: 2rem !important;
    border-radius: 15px;
    margin: 2rem 0 2rem 0;
    background-color: white;
}


#comp-posts {
    margin: 0rem auto 3rem auto;
    padding: 1.5rem 2rem 1rem 2rem;
    border-radius: 15px;
    width: 70%; 
    border-radius: 10px; 
}

#comp-title {
    margin: 2rem auto 0rem auto;
    padding: 1.5rem 0rem 0rem 0rem;
    width: 70%; 
}

#dash-header {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none !important;
    color: white;
    font-size: large;
}

#dash-header:is(:link, :active, :visited).active {
    background-color: #361b98;
    /* background-color: #ffdf80; */
}


.form-group {
    margin-bottom: 15px;
}

.content-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header {
    background-color: #3e1fad !important;
    color: white ;
}
