<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompanyHomePage</title>
    <link rel="stylesheet" href="static/style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>

  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <span class="navbar-brand">LinkedSF</span>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/logout">
          <div class="d-grid">
            <button type="button" class="btn btn-link">
                Logout
            </button> 
          </div> 
        </a>
      </div>
    </div>
  </nav>


    <a href="PostJob.html">
        <div class="d-grid">
          <button type="submit" class="btn btn-primary mb-2">
              Create Job Post
          </button> 
        </div> 
      </a>

      <div class="card-div">
        <h3>Posted Jobs:</h3>
        {% for n in data %}
            <div class="card-body shadow">
               <h5>{{n[1]}}</h5>
               <p>Field Of Work: {{n[9]}}
                 <br>Location: {{n[5]}} {{n[6]}}, {{n[7]}}
                 <br>Description: {{n[2]}}
                 <br>Job Skills: {{n[3]}}
                 <br>Wages: {{n[4]}}
               </p>
               <!-- <p>{{n[5]}}</p> -->
               <!-- <p>{{n[5]}}
                 {{n[6]}}, {{n[7]}}</p>
               <p>{{n[9]}}</p> -->
             
               

               <form method="POST">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button type="button" class="btn btn-outline-danger" >Delete Job Post</button>
                </div>
                 
                 <br>
                 <br> 

                 <div class = "d-grid gap-2 d-md-flex justify-content-md-end"> 
                <input type="hidden" name="buttonID" value="{{n[0]}}"> 
                <button type="submit" class="btn btn-outline-danger" >Show Applicants</button>
                 </div>
               </form> 
            </div>
        {% endfor %}
        </div>
</body>
</html>
