<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompanyHomePage</title>
</head>
<body>

    <div style="text-align: right;">
        <a href="Homepage.html">
            <button type="button" style="height: 30px">Logout</button>
        </a>
            <hr>
    </div>


    <a href="PostJob.html">
        <div class="d-grid">
            <button type="submit" class="btn btn-primary mb-2">
                Create Job Post
            </button>
        </div>
    </a>
</body>
</html>