<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1><center>Company Registration</center></h1>
        <form class="example" method="post" action="">
            <input type="text" placeholder="Company Name" name="Company_Name">
            <br>
            <input type="email" placeholder="Company Email" name="Company_Email">
            <br>
            <input type="text" placeholder="Company Username" name="Company_Username">
            <br>
            <input type="password" placeholder="Enter Password" name="Password">
            <br>
            <button type="submit" <i>Create Account</i></button>
            <br>
            <input type="button" value="Go back!" onclick="history.back()">
        </form>
    </body>
</html> 
