<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompanyHomePage</title>
    <link rel="stylesheet" href="static/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

</head>
<body>
  <section class="layout" id="comp-home">
    <div class="header">
      <nav class="navbar navbar-light" id="main-nav">
        <div class="container-fluid">
          <span class="navbar-brand"><img src="static/logo3.png" id="linked-logo"></span>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <!-- if logout button is clicked then they will be directed to the logout route 
          in app.py which terminates the users session-->
            <a href="/logout">
              <div class="/logout">
                <button type="button" class="btn" id="royal-btn">
                    Logout
                </button> 
              </div> 
            </a>
          </div>
        </div>
      </nav>
      <nav class="navbar" id="dash-nav">
        <div class="container-fluid" id="dash-nav-item">
          <a href="#r" class="tab active m-0 px-3" id="dash-header">Dashboard</a>
          <a href="PostJob.html" class="tab m-0 px-3" id="dash-header">Post Jobs</a>
          <a href="#h" class="tab m-0 px-3" id="dash-header">Profile</a>
        </div>
      </nav>
    </div>

    <div class="body">
      <div class="container" id="comp-title">
        <h4>Posted Jobs</h4>
        <h6>Sort by:</h6>
      </div>
      <div class="container shadow" id="comp-posts">
        <div class="row" id="job-post-cont">
          <div class="col-4" id="post-item">
            <h6>Title</h6>
          </div>
          <div class="col" id="post-item">
            <h6>Field</h6>
          </div>
          <div class="col text-center" id="post-item">
            <h6>Views</h6>
          </div>
          <div class="col text-center" id="post-item">
            <h6>Applicants</h6>
          </div>
          <div class="col text-center" id="post-item">
            <h6>Posted</h6>
          </div>
          <div class="col text-center" id="post-item">
            <h6>Update</h6>
          </div>
        </div>
    <!-- Displays the posts a company has created -->
        {% for n in data %}
        <div class="row" id="job-post-cont">
          <div class="col-4" id="post-item">
            <h5>{{n[1]}}</h5>
          </div>
          <div class="col" id="post-item">
            {{n[9]}}
          </div>
          <div class="col text-center" id="post-item">
            <h6>Views</h6>
          </div>
          <div class="col text-center" id="post-item">
            <form method="POST">
<!-- if button is clicked, record the corresponding job ID -->
             <input type="hidden" name="buttonID" value="view_{{n[0]}}"> 
             <button type="submit" class="btn btn-link-dark fw-bold shadow-none p-0">Show Applicants</button>
            </form>
          </div>
          <div class="col text-center" id="post-item">
            30
          </div>
          <div class="col text-center" id="post-item">
            <form method="POST">
<!-- if button is clicked, record the corresponding job ID -->
              <input type="hidden" name="buttonID" value="delete_{{n[0]}}">
              <button type="submit" class="btn btn-outline-danger mb-3 shadow-none">Delete</button>
            </form>
          </div>
                <!-- <form method="POST">
                  <div class="d-inline">
                    <input type="hidden" name="buttonID" value="{{n[0]}}"> 
                    <button type="submit" class="btn btn-link-dark fw-bold shadow-none">Show Applicants</button>
    
                    <button type="button" class="btn btn-outline-danger" >Delete</button>
                  </div>
                 </form>  -->
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</body>

<script >
  const sidebar = document.querySelectorAll('a')

  sidebar.forEach(tab => {
      tab.addEventListener('click', () => {
          const target = document.querySelector(tab.dataset.tabTarget)
          sidebar.forEach(tab => {
              tab.classList.remove('active')
          })
          tab.classList.add('active')
      })
  })


</script>
</html>
