<html>
     <head> 
    <title>HomePage</title>

    </head>
    
     <body>

     <h1>Software Engineering Class SFSU</h1>
     
     
     <a href="Christian.html">
       <button>
           Christian's Page
       </button>  
     </a>

     <br>

     <a href="Jeff.html">
      <button>
          Jeff's Page
      </button>  
    </a>

      <br>

    <a href="Dominique.html">
      <button>
          Dominique's Page
      </button>  
    </a>

    <br>

    <a href="Bridget.html">
      <button>
          Bridget's Page
      </button>  
    </a>

     <br>

    <a href="Justin.html">
      <button>
          Justin's Page
      </button>  
    </a>

    <br>

    <a href="Richard.html">
      <button>
          Richard's Page
      </button>  
    </a>


    </body>



</html>