
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="margin-bottom: -10px; font-size: 48px; text-align: center">Justin Yee</h1>
    <h2 style="text-align: center">Developer</h2>
    <hr></hr>

    <h2 style="margin-left: 1%; font-size: 32px">About Me</h2>
    <text style="margin-left: 1%; font-size: 24px">
        Hello everyone, I'm Justin. I'm currently a fourth year computer science student in my final semester.<br><br>
    <text style="margin-left: 1%; font-size: 24px">
        I was born and raised in San Francisco, but I've resided in San Ramon for about the past six years.<br><br><text>
    <text style="margin-left: 1%; font-size: 24px"> My hobbies include playing and developing video games, video production, and music.<br><text>
    <text style="margin-left: 1%; font-size: 24px">More recently, I've been interested in 3D printing and crane games.<text>
</body>

</html>