<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1><center>Student Registration</center></h1>
        <form class="example" method="post" action="">
            <input type="text" placeholder="First Name" name="First_Name">
            <input type="text" placeholder="Last Name" name="Last_Name">
            <br>
            <input type="email" placeholder="Student Email" name="Email">
            <br>
            <input type="text" placeholder="Student Username" name="JS_Username">
            <br>
            <input type="password" placeholder="Enter Password" name="Password">
            <br>
            <input type="file" placeholder="Resume" name="Resume">
            <br>
            <button type="submit" <i>Create Account</i></button>
            <br>
            <input type="button" value="Go back!" onclick="history.back()">
        </form>
    </body>
</html> 