<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>
    

</head>
<body>

  <div style="text-align: right;">
    <a href="/logout">
        <button type="button" style="height: 30px">Logout</button>
    </a>
    <hr>
</div>


    <h1>Student Page</h1>
    <form method="POST">
        <input class="form-control me-2" name="Search" id="Search" type="search" placeholder="Search" aria-label="Search">
        <select class="form-select" name="Job_Field" id="Job_Field">
            <option value="Iot">Iot</option>
            <option value="AI/Machine Learning">AI/Machine Learning</option>
            <option value="5G">5G</option>
            <option value="RPA">RPA</option>
            <option value="Edge Computing">Edge Computing</option>
            <option value="Quantum Computing">Quantum Computing</option>
            <option value="VR/Augmented">VR/Augmented</option>
            <option value="Blockchain">Blockchain</option>
            <option value="Cyber Security">Cyber Security</option>
        </select>
        <input name = "submit" value="submit_search" type="submit">
    </form>  

      <br>

    
        <div>
        {% for item in data %}
            <div style="border: double;">
               <p>Job Title: {{item[1]}}</p>
               <p>Description: {{item[2]}}</p>
               <p>Required Skills: {{item[3]}}</p>
               <p>Pay/Wages: {{item[4]}}</p>
               <p>Address: {{item[5]}}</p>
               <p>City: {{item[6]}}</p>
               <p>State: {{item[7]}}</p>
               <p>Field of Work: {{item[9]}}</p>
               <form method="POST"> 
                <input type="hidden" name="buttonID" value="{{item[0]}}">
                <input type="submit" style="height: 30px" name = "submit" value="submit_apply">
               </form>   
            </div>
            <br>
        {% endfor %}
        </div>
    
     

</body>
</html>
