<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>
</head>
<body>
    <h1>Student Page</h1>
    <form method="POST">
        <input class="form-control me-2" name="Search" id="Search" type="search" placeholder="Search" aria-label="Search">
        <select class="form-select" name="Job_Field" id="Job_Field"> 
          <option value = "Iot">Iot</option>
          <option value = "AI/Machine Learning">AI/Machine Learning</option>
          <option value = "5G">5G</option>
          <option value = "RPA">RPA</option>
          <option value = "Edge Computing">Edge Computing</option>
          <option value = "Quantum Computing">Quantum Computing</option>
          <option value = "VR/Augmented">VR/Augmented</option>
          <option value = "Blockchain">Blockchain</option>
          <option value = "Cyber Security">Cyber Security</option>
       </select>
        <button class="btn btn-outline-secondary" type="submit">Button</button>
      </form>
      
</body>
</html>