.log-div {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
    margin-bottom: 4rem;
    width: 25rem;
    border-radius: 15px;
}

.header{
    padding-top: 1rem;
    padding-bottom: 1rem;

    text-align: center;
}